ion-card-title {
    font-size: 18px;
}

.bg-class{
    --background: url("../../assets/background3.jpg") no-repeat fixed center;
}

.card-theme {
    background: url("../../assets/background3.jpg") no-repeat fixed center;
}