<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pagina-inicial">
      <ion-icon name="home"></ion-icon>
      <ion-label>Pagina Inicial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="licitacoes-filtradas">
      <ion-icon name="leaf"></ion-icon>
      <ion-label>Licitações Agro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="licitacoes">
      <ion-icon name="keypad"></ion-icon>
      <ion-label>Todas as Licitações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
