<ion-content class="bg-class" fullscreen>

  <div (click)="fecharModal()" class="box_center_icon">
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>

  <div class="box_center_logo">
    <img src="../../assets/logo2.png"><br>
    <!-- <span class="titleLogo">AGRO LICITAÇÕES</span><br> -->
    <span class="subTitleLogo">Entre em contato conosco!</span>
  </div>

  <div class="box_center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <a href="https://www.facebook.com/jorgezanguettin/" target="_blank" ><ion-card>
            <br>
            <ion-icon class="blue" name="logo-facebook"></ion-icon><br><br>
          </ion-card></a>
        </ion-col>
        <ion-col>
          <a href="https://api.whatsapp.com/send?phone=5514997441842&text=Ol%C3%A1%2C%20Eu%20uso%20AgroLicita%C3%A7%C3%B5es%2C%20poderia%20me%20ajudar%3F" target="_blank" ><ion-card>
            <br>
            <ion-icon class="green" name="logo-whatsapp"></ion-icon><br><br>
          </ion-card></a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a href="https://www.linkedin.com/in/jorgezanguettin/" target="_blank" ><ion-card>
            <br>
            <ion-icon class="black_blue" name="logo-linkedin"></ion-icon><br><br>
          </ion-card></a>
        </ion-col>
        <ion-col>
          <a href="mailto:jorgelzbr@gmail.com"><ion-card>
            <br>
            <ion-icon class="black" name="mail-sharp"></ion-icon><br><br>
          </ion-card></a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>