.bg-class{
    --background: url("../../assets/background3.jpg") no-repeat fixed center;
}

.box_center_icon {
    font-size: 22px;
    margin-top: 5%;
    text-align: center;
}

.box_center_logo {
    img {
        width: 40%;
    }
    .titleLogo {
        font-size: 22px;
        font-weight: bold;
    }

    .subTitleLogo {
        font-size: 12px;
    }

    margin-top: 5%;
    text-align: center;
}

.box_center {
    margin-top: 25%;
    text-align: center;
}

ion-icon {
    font-size: 40px;
}

.blue {
    color: royalblue;
}

.green {
    color: green;
}

.black_blue {
    color: blue;
}

.black {
    color: black;
}